.form__inside {
  form {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    padding-right: 200px;
    padding-left: 350px;
    .form__group {
      margin-top: 50px;
      position: relative;
      overflow: hidden;
      color: #dadad9;
      .form__field {
        width: 100%;
        height: 100%;
        padding: 25px 0 5px 0;
        border: none;
        background: inherit;
        color: inherit;
      }
      .form__label {
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        pointer-events: none;
        border-bottom: 1px solid white;
        &::after {
          content: "";
          position: absolute;
          left: 0px;
          bottom: -1px;
          height: 100%;
          width: 100%;
          border-bottom: 3px solid #331E36;
          transition: all 0.3s ease;
          transform: translateX(-100%);
        }
        .form__name {
          position: absolute;
          bottom: 5px;
          left: 0px;
          transition: all 0.3s ease;
        }
      }
      .form__field:focus + .form__label .form__name,
      .form__field:valid + .form__label .form__name {
        transform: translateY(-150%);
        font-size: 14px;
        color: #331E36;
      }
      .form__field:focus + .form__label::after,
      .form__field:valid + .form__label::after {
        transform: translateX(0%);
      }
    }
    .form__button {
      background-image: linear-gradient(
        to right,
        #232526 0%,
        #414345 51%,
        #232526 100%
      );
      margin: 20px;
      padding: 15px 45px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: #dadad9;
      box-shadow: 0 0 20px #eee;
      border-radius: 10px;
      display: block;
      &:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
      }
    }

    .form__select {
      color: #dadad9;
      border: 0;
      border-radius: 25px;
      text-align-last: right;
      padding-right: 20px;
      direction: rtl;
      background-image: linear-gradient(
        to right,
        #232526 0%,
        #414345 51%,
        #232526 100%
      );
      option {
        background: #222222;
        border: none;
      }
    }
  }
}
