.todosElement {
  .todosElement__input {
    color: #dadad9;
    padding-right: 30px;
    .todosElement__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 15px;
      font-size: 1.2em;
      .todosElement__btn {
        .all__btn {
          background-color: inherit;
          color: #dadad9;
          border: none;
          &:hover {
            transition: 0.6s;
            color: #414a4c;
          }
        }
      }
    }
  }
  .input__done {
    text-decoration: line-through;
    color: red;
  }
}
