.weatherInformation {
  margin-top: 20px;
  .span__name {
    display: inline-block;
    width: 200px;
    padding: 7px 0;
    font-size: 1.7em;
    color: #dadad9;
    text-align: right;
  }
  .span__fetch {
    width: 500px;
    display: inline-block;
    font-size: 2em;
    color: #bfd5e2;
  }
}
