.weatherInformation {
  margin-top: 20px;
  .span__name {
    display: inline-block;
    width: 220px;
    padding: 7px 0;
    font-size: 1.8em;
    color: #CE2D4F;
    text-align: right;
  }
  .span__fetch {
    width: 500px;
    display: inline-block;
    font-size: 2em;
    color: #37392E;
    font-weight: 600;
  }
}
