.weather {
  .weather__form {
    text-align: center;
    padding-top: 30px;
    .weather__list {
      margin-top: 5px;
      .weather__autocomplete {
        animation: abs 1.2s ease;
        background-color: #cacfd6;
        width: 330px;
        margin: 0 auto;
        padding: 15px;
        cursor: pointer;
        border: 2px solid black;
        border-bottom: none;
        border-top: none;
        &:hover {
          background-color: #d8dce1;
        }
      }
    }
    .weather__parNotExist {
      font-size: 2em;
      color: #e08e45;
      padding: 15px 0;
      .weather__spanNotExist {
        padding-top: 15px;
        font-size: 1.5em;
        text-decoration: underline;
        color: black;
        display: block;
      }
    }
  }
}

@keyframes abs {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
