table,
td,
th {
  border-collapse: collapse;
  padding: 15px;
  text-align: center;
  caption {
    font-size: 2em;
    color: #dadad9;
    padding-bottom: 10px;
  }
  thead {
    background-color: #bfd5e2;
  }
  tbody tr {
    color: #f2f2f2;
  }
  tbody tr:nth-child(even) {
    background-color: rgba(57, 62, 65, 0.6);
  }
  a {
    text-decoration: none;
    outline: none;
    color: #bfd5e2;
  }
}
