.sport {
  .sport__button {
    background-color: #C1C1C1;
    font-size: 0.9em;
    margin: 5px;
    display: inline-block;
    border: none;
    border-radius: 5px;
    padding: 15px 10px;
  }
  .sport__title {
    font-family: $title-article;
    letter-spacing: 1.2px;
    font-size: 3em;
    color: #22181C;
    text-align: center;
    padding: 20px 0;
  }
  .sport__scoresWrapper {
    display: flex;
    justify-content: space-around;
  }
}
