.sport {
    .sport__button {
        font-size: 0.9em;
        margin: 5px;
        display: inline-block;
        border: none;
        border-radius: 5px;
        padding: 15px 10px;
    }
    .sport__title {
        font-family: $title-article;
        font-size: 3em;
        color: #dadad9;
        text-align: center;
        padding: 20px 0;
    }
    .sport__scoresWrapper {
        display: flex;
        justify-content: space-around;
    }
}