.welcome {
  color: #dadad9;
  text-align: center;
  h1 {
    font-family: $title-font;
    font-size: 3em;
    padding: 120px 0;
  }
  .welcome__icons {
    display: flex;
    justify-content: center;
    .welcome__navlink {
      margin-right: 30px;
    }
    div {
      border: 1px solid #98c1d9;
      background-color: #393e41;
      padding: 25px 25px;
      border-radius: 60%;
    }
  }
}
