.support {
  transition: all 1s ease-out;

  width: 100%;
  .support__divSign {
    position: relative;
    .support__sign {
      cursor: pointer;
      color: white;
      font-size: 4em;
    }
  }
}
