.support {
  transition: all 1s ease-out;
  .support__divSign {
    padding-right: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    .support__sign {
      cursor: pointer;
      width: 30px;
      height: 30px;
    }
  }
}
