.BMI {
  padding: 0 20px;
  color: #393e41;
  .BMI__title {
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 20px;
  }
  input[type="radio"] {
    visibility: hidden;
    position: absolute;
    display: none;
  }
  input[type="radio"]:checked + label {
    font-weight: 600;
  }
  .BMI__gender {
    display: inline-block;
    cursor: pointer;
    padding: 1px 7px;
  }
  .BMI__label {
    div {
      margin-top: 10px;
      font-size: 0.7em;
    }
    input {
      box-sizing: border-box;
      padding: 5px 19px;
      background-color: #f6f7eb;
      width: 100%;
      border: none;
      border-bottom: 1px solid black;
    }
  }
  .BMI__label input + span::after {
    content: '';
    display:block;
    border-bottom: solid 1px #253d5b;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;;
  }
.BMI__label input:focus + span::after{
  transform: scaleX(1);
}
  .BMI__button {
    margin: 10px 0;
    position: relative;
    button{
      display: inline-block;
      letter-spacing: 1.2px;
      background-color:#E6E7E6;
      color: black;
      border-radius: 5px;
      border:none;
      font-size: 0.7em;
      padding: 5px 10px;
      text-transform: uppercase;

      &:last-child{
      position: absolute;
      right: 0;
      }
      &:hover{
        background-color: #ADB0AD;
        transition: .8s;
      }
    }
  }
  .BMI__result{
    p{
      padding-top:5px;
      span{
        font-weight: 600;
        font-size: 1.5em;
      }
    }
  }
  .BMI__bar {
    position: relative;
    height: 30px;
    width: 100%;
    border-radius: 50px;
    border: 1px solid black;
    margin-top: 20px;
    .BMI__filler {
      border-radius: inherit;
      border: inherit;
      background-color: #1A2547;
      width: 90%;
      height: inherit;
      display: inline-block;
      transition: width 1s ease-in;
    }
  }
  .BMI__bar__class{
    position: relative;
    span{
      font-size: 0.8em;
      padding-right: 3px;
      &:nth-child(1)::after{
        content: '';
        position: absolute;
        top:-30px;
        height: 30px;
        width: 1px;
        background: black;
      }
      &:nth-child(2):after{
        content: '';
        position: absolute;
        top:-30px;
        height: 30px;
        width: 1px;
        background: black;
      }
      &:nth-child(3):after{
        content: '';
        position: absolute;
        top:-30px;
        height: 30px;
        width: 1px;
        background: black;
      }

    }
  }
}
