.articles {
  width: 400px;
  margin: 20px;
  .articles__title {
    color: #474448;
    font-weight: 800;
    height: 50px;
    line-height: 24px;
    font-size: 1.2em;
    padding-bottom: 25px;
  }
  .articles__text {
    color: #474448;
    text-decoration: none;
    letter-spacing: 1.3px;
    font-weight: 600;
    p {
      padding-top: 15px;
    }
  }
  .articles__img {
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  .articles__img:hover {
    -webkit-filter: brightness(100%);
  }
}
