.todosElement {
  display: flex;
  justify-content: center;
  align-items: center;
  .todosElement__input {
    color: #dadad9;
    padding-right: 30px;
  }
  .input__done {
    text-decoration: line-through;
    color: red;
  }
}
