.financialCalc__calc {
  background-color: #253d5b;
  width: 275px;
  height: 450px;
  border-radius: 15px;
  .financialCalc__calc__1st,
  .financialCalc__calc__2rd,
  .financialCalc__calc__3rd,
  .financialCalc__calc__4th,
  .financialCalc__calc__5th {
    display: flex;
    box-sizing: border-box;
    button {
      box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.75);
      -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.75);
      background-color: #253d5b;
      width: 25%;
      border: none;
      border-radius: 15px;
      text-align: center;
      color: white;
      padding-top: 15px;
      padding-bottom: 15px;
      margin: 7px;
      &:last-child {
        margin-right: 14px;
      }
      &:first-child {
        margin-left: 14px;
      }
      &:active {
        background-color: #162537;
      }
    }
    .calc__grey {
      color: grey;
    }
    .calc__orange {
      color: orange;
    }
    #key0 {
      width: 55%;
    }
  }

}
