.pagination {
  height: 35px;
  text-align: center;
  position: relative;
  .button__page {
    box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.75);
    background-color: white;
    width: 30px;
    border: none;
    border-radius: 15px;
    text-align: center;
    color: black;
    margin: 7px;
  }
}
.outPutResult__screen__common {
  background-color: #253d5b;
  color: white;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  padding: 10px 25px;
  border: none;
}
.outPutResult__result {
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  font-size: 1.5em;
  height: 50px;
  text-align: center;
  align-items: center;
  width: 100%;
  span {
    margin-right: 15px;
    height: 25px;
    &:first-child {
      margin-left: 15px;
    }
  }
  .arrow-left {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding-left: 5px;
  }
  .arrow-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding-right: 5px;
  }

  .arrow-left:hover,
  .arrow-right:hover {
    color: #cfd8e4c4;
    transition: 0.3s;
  }
}
.outPutResult__screen {
  font-size: 1.5em;
  text-align: right;
}

.arrow-disabled {
  display: none;
}

.info__memory {
  background-color: #ea2b1f;
  border: none;
  width: 10px;
  height: 10px;
  color: black;
  position: absolute;
  right: 0;
  top: 0;
  &:hover {
    border: none;
    box-shadow: 0 0 5px 3px rgba(234, 43, 31, 0.75);
    -webkit-box-shadow: 0 0 5px 3px rgba(234, 43, 31, 0.75);
    -moz-box-shadow: 0 0 5px 3px rgba(234, 43, 31, 0.75);
    transition: 0.4s;
  }
}
