.calorie {
  padding: 0 20px;
  color: #393e41;
  .calorie__title {
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 10px;
  }
  input[type="radio"] {
    visibility: hidden;
    position: absolute;
    display: none;
  }
  input[type="radio"]:checked + label {
    font-weight: 600;
  }
  .calorie__gender {
    display: inline-block;
    cursor: pointer;
    padding: 1px 7px;
  }
  .calorie__label {
    div {
      margin-top: 10px;
      font-size: 0.7em;
    }
    input {
      box-sizing: border-box;
      padding: 5px 19px;
      background-color: #f6f7eb;
      width: 100%;
      border: none;
      border-bottom: 1px solid black;
    }
  }
  .calorie__label input + span::after {
    content: "";
    display: block;
    border-bottom: solid 1px #253d5b;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }
  .calorie__label input:focus + span::after {
    transform: scaleX(1);
  }
  .calorie__label__select {
    display: block;
    margin-top: 10px;
    position: relative;
    &::after {
      content: "\f358";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      position: absolute;
      right: 4px;
      bottom: 2px;
    }
    .calorie__select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      font-size: 0.9em;
      margin-top: 10px;
      width: 100%;
      padding: 2px 0;
      padding-right:20px;
      padding-left:3px;
      border: none;
      cursor: pointer;
      outline: none;
      border: 1px solid black;
      border-radius: 15px;
      line-height: 1.1;
    }
  }

  .calorie__button {
    margin: 10px 0;
    position: relative;
    button {
      display: inline-block;
      letter-spacing: 1.2px;
      background-color: #e6e7e6;
      color: black;
      border-radius: 5px;
      border: none;
      font-size: 0.7em;
      padding: 5px 10px;
      text-transform: uppercase;

      &:last-child {
        position: absolute;
        right: 0;
      }
      &:hover {
        background-color: #adb0ad;
        transition: 0.8s;
      }
    }
  }
  .calorie__result {
    p {
      padding-top: 5px;
      span {
        font-weight: 600;
        font-size: 1.2em;
      }
    }
  }
}
