.events {
  padding-top: 100px;
  .events__boxes {
    padding-left: 200px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .events__news {
      overflow: hidden;
      width: 200px;
      .events__newsImg {
        transform: scale(0.9);
        transition: transform 0.3s ease-in-out;
        width: 100%;
        height: 200px;
        &:hover {
          transform: scale(1);
        }
      }
    }
    .events__sport {
      overflow: hidden;
      width: 200px;
      .events__sportImg {
        transform: scale(0.9);
        transition: transform 0.3s ease-in-out;
        width: 100%;
        height: 200px;
        &:hover {
          transform: scale(1);
        }
      }
    }
  }
}
.events__tooltip {
  font-size: 1.7em !important;
}
