.applications {
  transition: all 1s ease-out;
  .applications__blockbuster {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .app__common {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px;
      width: 500px;
      height: 120px;
      overflow: hidden;
      .app__paragraph {
        font-size: 1.5em;
        color: white;
      }
      img {
        transform: scale(0.9);
        width: 130px;
        border-radius: 25px;
        height: 100%;
        transition: transform 0.3s, filter 1.5s ease-in-out;
        filter: grayscale(100%);
        &:hover {
          filter: grayscale(0);
          transform: scale(1);
        }
      }
    }
  }
}
