.movieData__title {
  text-align: center;
  padding: 10px 0;
  color: #55c1ff;
  font-size: 1.3em;
}
.movieData__wrap {
  display: flex;
  color: #fffcf9;
  .movieData__img {
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 20px;
  }
  .movieData__info {
    margin-right: 30px;
    p {
      font-size: 0.9em;
      text-transform: uppercase;
      padding-top: 10px;
      span {
        color: #d5ac4e;
        padding-left: 5px;
      }
    }
  }
}
.movieData__describe {
  padding: 0 10px;
  color: #fffcf9;
  height: 120px;
  overflow: auto;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #ccc5b9;
  }
  &::-webkit-scrollbar-thumb {
    background: #403d39;
    outline: 1px solid #d6e3f8;
  }
}
