.fitCalc {
  margin: 20px;
  .fitCalc__title {
    text-align: center;
    color: #dadad9;
    font-size: 1.8em;
    margin-bottom: 20px;
  }

  .fitCalc__calc {
    position: relative;
    background-color: #f6f7eb;
    height: 450px;
    width: 275px;
    border-radius: 15px;
    .fitCalc__folders {
      margin: 0 15px;
      span {
        padding: 0 5px;
        cursor: pointer;
      }
      .selected__folder {
        border-bottom: 1px solid black;
        font-weight: 600;
      }
    }
    .fitCalc__wrapperInfo{
      height: 434px;
      width: inherit;
      display: flex;
      justify-content: center;
      align-items: center;
      .fitCalc__infoText {
        font-size: 1.5em;
        text-align: center;
        padding: 0 20px;
    }
     
    }

    // .BMI {
    //   display: flex;
    //   box-sizing: border-box;
    //   span {
    //     box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.75);
    //     -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.75);
    //     -moz-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.75);
    //     width: 25%;
    //     border-radius: 15px;
    //     text-align: center;
    //     color: white;
    //     padding-top: 15px;
    //     padding-bottom: 15px;
    //     margin: 7px;
    //     &:last-child {
    //       margin-right: 14px;
    //     }
    //     &:first-child {
    //       margin-left: 14px;
    //     }
    //   }
    //   .calc__grey {
    //     color: grey;
    //   }
    //   .calc__orange {
    //     color: orange;
    //   }
    //   #key0 {
    //     width: 55%;
    //   }
    // }
  }
}
