$title-font: "Permanent Marker", cursive;
$user-nav: "Roboto", sans-serif;
$title-article: "Bungee", cursive;

@import "./reset.scss";

// components

@import "../components/Welcome/welcome"; // welcome
@import "../components/Register/register"; //register
@import "../components/Login/login"; //login
@import "../components/ResetAccount/resetAccount"; //resetAccount
@import "../components/User/userNav"; //userNav
@import "../components/User/Applications/applications"; //applications
@import "../components/User/Todo/scss/form"; //form
@import "../components/User/Todo/scss/todo"; //todo
@import "../components/User/Todo/scss/todosElement"; //todosElement
@import "../components/User/Events/events"; //events
@import "../components/User/Events/News/news"; //news
@import "../components/User/Events/News/articles"; //articles
@import "../components/User/Events/Sport/sport"; //sport
@import "../components/User/Events/Sport/(last)scheldule"; //scheldule
@import "../components/User/Weather/weather"; //weather
@import "../components/User/Weather/weatherInformation"; //weatherInformation
@import "../components/Utility/Support/support"; //support
@import "../components/Utility/Support/formOfSupport"; //formOfSupport
@import "../components/User/MoviesDataBase/movieDataBase"; //moveiDataBase
@import "../components/User/MoviesDataBase/movieData"; //movieData
@import "../components/User/Calculator/calculator"; //calculator
@import "../components/User/Calculator/Financial/financialCalc"; //calculatorFinancial
@import "../components/User/Calculator/Fit/fitCalc"; //fitCalc
@import "../components/User/Calculator/Fit/Folders/BMI/BMI"; //BMI
@import "../components/User/Calculator/Fit/Folders/BMR/BMR"; //BMR


body {
  box-sizing: border-box;
  background-image: url("../assets/fog-city2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
