$title-font: "Permanent Marker", cursive;
$user-nav: "Roboto", sans-serif;

@import "./reset.scss";

// components

@import "../components/Welcome/welcome"; // welcome
@import "../components/Register/register"; //register
@import "../components/Login/login"; //login
@import "../components/ResetAccount/resetAccount"; //resetAccount
@import "../components/User/userNav"; //userNav
@import "../components/User/Applications/applications"; //applications
@import "../components/User/Todo/scss/form"; //form
@import "../components/User/Todo/scss/todo"; //todo

body {
  box-sizing: border-box;
  background-image: url("../assets/fog-city2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
