$title-font: "Permanent Marker", cursive;

@import "./reset.scss";

// components

@import "../components/Welcome/welcome"; // welcome
@import "../components/Register/register"; //register
@import "../components/Login/login"; //login
@import "../components/ResetAccount/resetAccount"; //reset

body {
  box-sizing: border-box;
  background-image: url("../assets/fog-city2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
